{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
    <div class="containter mx-2">
        <div class="row">
            <h1 class="col-12 col-lg-8 text-center mx-auto pt-3 mb-3 pt-sm-5 mb-sm-5 text-pink">Donofy Staff Action Page</h1>
        </div>
        <div class="row mx-2">
            <a href="/admin/" aria-label="go to site admin pages"
                class="btn btn-lg btn-pink col-12 col-sm-8 col-xl-6 mx-auto mb-5">Go to site admin panel
            </a>
        </div>
        <div class="row mx-2">
            <p class="col-12 col-lg-8 mx-auto text-dark bold text-center mb-0">Generate Donations action should be taken on the 24th of every month.</p>
            <a href="{% url 'subscriptions:create_donation_if_24th' %}" aria-label="Generate Donation action button"
                class="btn btn-lg btn-pink col-12 col-sm-8 col-xl-6 mx-auto mb-5">Generate Donations
            </a>
        </div>
        <div class="row mx-2">
            <p class="col-12 col-lg-8 mx-auto text-dark bold text-center mb-0">Donation payments should be actioned on the last day of every month.</p>
            <a href="#" aria-label="Generate Donation action button"
                class="btn btn-lg btn-pink col-12 col-sm-8 col-xl-6 mx-auto mb-1">Action Donation Payments
            </a>
            <p class="col-12 col-lg-8 mx-auto text-pink text-center mb-5">
                WARNING: Clicking this button will charge all users with active subscriptions and valid payment details saved.
            </p>
        </div>
    </div>
{% endblock %}