{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block extra_title %}My Profile{% endblock %}

{% block content %}
<div class="container">
    <div class="card bg-light-brand p-3 p-lg-4 shadow my-1 my-lg-5">
        <div class="row">
            <div class="col-12 col-lg-10 mx-auto">
                <h1 class="text-pink bold profile-title text-center text-capitalize mt-3 mt-lg-5">
                    <span><i class="fa-solid fa-circle-check icon-green"></i></span> Doantion successful.
                </h1>
                <h2 class="text-dark profile-title text-center mb-5">
                    Thank you, you awesome human!
                </h2>

                <p class="text-dark profile-sub-title text-left mb-5">   
                    Thank you for your trust and support.<br><br>Your contributions, no matter how small, have a huge positive impact.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}