{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block extra_title %}My Profile{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-pink bold profile-title text-capitalize my-3">Donofy Profile Managment: {{ user.username }}</h1>
            </div>
        </div>

        <!-- nav tabs -->
        <nav>
            <div class="nav nav-tabs flex-column flex-md-row" id="nav-tab" role="tablist">
                <button class="nav-link flex-md-fill text-md-center profile-tabs shadow text-pink hover-float bold active" id="myDonofy-tab" data-toggle="tab" data-target="#nav-myDonofy" type="button" role="tab" aria-controls="nav-manage" aria-selected="true">Manage My Donofy</button>
                <button class="nav-link flex-md-fill text-md-center profile-tabs shadow text-pink hover-float bold" id="nav-myImpact-tab" data-toggle="tab" data-target="#nav-myImpact" type="button" role="tab" aria-controls="nav-impact" aria-selected="false">My Impact</button>
                <button class="nav-link flex-md-fill text-md-center profile-tabs shadow text-pink hover-float bold" id="nav-myHistory-tab" data-toggle="tab" data-target="#nav-myHistory" type="button" role="tab" aria-controls="nav-history" aria-selected="false">My Payment History</button>
            </div>
        </nav>
        <div class="tab-content shadow p-4 mb-5" id="nav-tabContent">
            <!-- manage my donofy pane -->
            <div class="tab-pane fade show active{% if active_tab == 'myDonofy' %}show active{% endif %}" id="nav-myDonofy" role="tabpanel" aria-labelledby="nav-manage-tab">
                {% include 'profiles/includes/my-donofy.html' %}
            </div>
            <!-- impact pane -->
            <div class="tab-pane fade {% if active_tab == 'myImpact' %}show active{% endif %}" id="nav-myImpact" role="tabpanel" aria-labelledby="nav-manage-tab">
                {% include 'profiles/includes/my-impact.html' %}
            </div>
            <!-- payment history pane -->
            <div class="tab-pane fade {% if active_tab == 'myHistory' %}show active{% endif %}" id="nav-myHistory" role="tabpanel" aria-labelledby="nav-history-tab">
                {% include 'profiles/includes/my-history.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        // controls which tab on profiles page displays
        $(document).ready(function() {
            var activeTab = "{{ active_tab }}";
            if (activeTab) {
                $('#nav-' + activeTab + '-tab').tab('show');
            }
            
            $('button[data-toggle="tab"]').on('shown.bs.tab', function (event) {
                var newTab = event.target.getAttribute('data-target').substring(5);
                var url = new URL(window.location);
                url.searchParams.set('tab', newTab);
                window.history.pushState({}, '', url);
            });
        });
    </script>
{% endblock %}
