{% extends 'base.html' %}
{% load static %}

{% block extra_title %}Donate{% endblock %}

{% block content %}
<div class="container">
    <div class="card bg-light-brand p-3 p-lg-4 shadow my-1 my-lg-5">
        <h1>Checkout page</h1>
        <h2 class="tab-title text-pink bold col-12 col-lg-8 mx-auto px-1">Enter your billing details here.</h2>
        <div class="row">
            <form id="payment-form" action="{% url 'checkout' %}" method="POST" class="profile-forms col-12 col-lg-8 mx-auto mb-5">
                {% csrf_token %}
                <label for="name">Full name</label>
                <input type="text">
                {{ user_profile_form|crispy }}
                {{ form|crispy }}
                <label class="fieldset-label text-pink px-2 w-auto">Payment</label>
                <!-- A Stripe card element will go here -->
                <div class="mb-3" id="card-element"></div>
                <!-- Used to display form errors -->
                <div class="mb-5 text-danger" id="card-errors" role="alert"></div>
                <!-- Pass the client secret to the view so we can get the payment intent id -->
                <input type="hidden" value="{{ client_secret }}" name="client_secret">
                <p class="text-pink bold">Your current donation total = £{{ subscription.sub_total }}</p>
                <p class="text-dark">
                    If you need to change this amount, or any of your donation details, please go to the My Donofy section.
                    Clicking "Make Donation" below will charge you for your current donation total.
                </p>
                <button id="submit-button" type="submit" class="btn btn-lg btn-pink shadow col-12 col-md-5 my-3">Make donation</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}