{% load custom_filters %}
{% if charity_favs %}
    <h2 class="tab-title text-capitalize bold col-12 col-lg-8 mx-auto px-1">Hi {{ user.username }}</h2>
    {% if subscription.sub_active %}
        <!-- displays to the user if their subscription is active or not, and give them an option to toggle this -->
        <h2 class="text-pink bold col-12 col-lg-8 mx-auto px-1"><i id="icon-green" class="fa-solid fa-check-circle icon-green"></i> Your Donations are Active </h2>
        <p class="text-muted col-12 col-lg-8 mx-auto px-1">You will donate on the last day of every month, according to your settings below.</p>
        <form action="{% url 'subscriptions:toggle_subscription_active' %}" method="POST" class="col-12 col-lg-8 mx-auto p-0 mt-2 mb-4">
            {% csrf_token %}
            <button type="submit" class="btn btn-lg btn-pink-outline col-12 col-md-6 shadow">Pause Donations</button>
        </form>
        <h3 class="your-total bg-white text-pink bold col-12 col-lg-8 mx-auto mb-0 py-2 px-1 text-center">Your current donation total = £{{ subscription.sub_total }}</h3>
    {% else %}
        <h2 class="text-pink bold col-12 col-lg-8 mx-auto mb-0 px-1"><span><i class="fa-solid fa-circle-exclamation icon-pink"></i></span> Your donations are currently paused</h2>
        <p class="text-muted col-12 col-lg-8 mx-auto px-1">No donations will be taken whilst your subscription is set to inactive</p>
        <form action="{% url 'subscriptions:toggle_subscription_active' %}" method="POST" class="col-12 col-lg-8 mx-auto p-0 mt-2 mb-4">
            {% csrf_token %}
            <button type="submit" class="btn btn-lg btn-pink-outline col-12 col-md-6 shadow">Activate Donations</button>
        </form>
        <h3 class="your-total bg-white text-dark bold col-12 col-lg-8 mx-auto mb-0 py-2 px-1 text-center strike">Your current donation total = £{{ subscription.sub_total }}</h3>
    {% endif %}   
    <!-- lists the users favourited charities. Functionality to remove charities, or adjust donation amounts -->
    <h2 class="tab-title text-capitalize text-white bg-pink bold col-12 col-lg-8 pl-2 py-2 mx-auto px-1">Your Favourited Charities ({{ charity_favs|length }})</h2>
    <form action="{% url 'subscriptions:update_subscription' %}" method="POST" class="col-12 col-lg-8 mx-auto mb-5">
        {% csrf_token %}
        <ul class="favourites-list p-0">
            <p class="text-dark mb-0">
                Set a monthly donation (£) for each of your favourited charities here.<br>
                Values can be set to zero.<br>
            </p>
            {% for charity in charity_favs %}
            <div class="row">
                <li class="col-12 bold mb-5">
                    <hr>
                    <a href="{% url 'charity_detail' charity.id %}" aria-label="link to charity page"
                                class="text-dark bold">{{ charity.charity_name }}</a>
                    <p class="text-small text-muted mb-0">Charity number: ({{ charity.charity_num}})</p>
                    <a href="{% url 'subscriptions:delete_from_favs' charity.id %}" aria-label="action to remove charity from favourites list"
                        class="a-pink">
                        Remove from favourites
                    </a>
                </li>
                <!-- add an if statement HERE to check for a currently saved sub_breakdown, prepopulate the inputs with the user's last saved values. -->
                <div class="col-12">
                    <input type="number" name="breakdown_{{ charity.id }}" value="{{ subscription.sub_breakdown|get_item:charity.charity_name|default_if_none:0 }}" min="0" max="999">
                </div>
            </div>
            {% endfor %}
            <hr>
            <button type="submit" class="btn btn-lg btn-pink mt-3">Save</button>
        </ul>
        <input type="hidden" name="redirect_url" value="{{ request.path }}">
    </form>

{% else %}
    <!-- tells the user if their favourite charities list is empty and invites them to browse charities -->
    <h3 class="text-pink col-12 col-lg-8 mx-auto mt-4 px-1">
        Looks like you haven't saved any favourites yet.
    </h3>
    <p class="text-dark col-12 col-lg-8 mx-auto px-1">
        You need at least one charity added to your favourites to start donating.<br>
        Find the causes that matter to you here: 
        <a href="{% url 'charities' %}" aria-label="link to charities page" class="a-pink col-12 col-lg-8 mx-auto px-1">
            Charities
        </a>
    </p>
{% endif %}