
<h2 class="your-total bg-white text-pink bold col-12 col-lg-8 mx-auto mb-0 mt-3 mb-5 py-2 px-0 text-center">Review / edit your details here</h2>
<form action="{% url 'profiles:profile' %}" method="POST" class="profile-forms col-12 col-lg-8 mx-auto mb-5">
    {% csrf_token %}
    <fieldset class="rounded px-3 mb-5">
        {{ user_form.first_name | as_crispy_field }}
        {{ user_form.last_name | as_crispy_field }}
        {{ user_form.email | as_crispy_field }}
        {{ profile_form.phone_num | as_crispy_field }}
        {{ profile_form.street_address_1 | as_crispy_field }}
        {{ profile_form.street_address_2 | as_crispy_field }}
        {{ profile_form.town_or_city | as_crispy_field }}
        {{ profile_form.county | as_crispy_field }}
        {{ profile_form.post_code_zip | as_crispy_field }}
        {{ profile_form.country | as_crispy_field }}
    </fieldset>
    <button id="submit-button" type="submit" class="btn btn-lg btn-pink shadow col-12 col-md-5 my-3">Save</button>
</form>