/* GENERAL SITE STYLES */

/* #CD2576 = rgb(205, 37, 118) */

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    height: calc(100vh - 64px);
    color: #222;
    font-family: 'League Spartan', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #CD2576;
    color: #fff;
}

/* BUTTONS & LINKS */

.btn-pink {
    background-color: #CD2576;
    color:#fff;
    font-weight: 600;
    letter-spacing:1.5px;
}

.btn-pink:hover,
.btn-pink:active,
.btn-pink:focus {
    background-color: #582E8E;
    color:#fff;
    border: 1px solid #fff;
    
}

.btn-white {
    background-color: #fff;
    color:#CD2576;
    border: 1px solid #fff;
    font-weight: 600;
    letter-spacing:1.5px;
}

.btn-white:hover,
.btn-white:active,
.btn-white:focus {
    color:#fff;
    background-color: #582E8E;
}

.btn-outline-pink {
    background: white;
    color: #CD2576 !important;
    border: 1px solid #CD2576;
}

.btn-pink:hover,
.btn-pink:active,
.btn-pink:focus {
    background: #582E8E;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus,
.icon-link:hover,
.icon-link:active,
.icon-link:focus {
    color: #582E8E;
}

/* COLOUR SCHEME */

.bg-light-brand {
    background-color: #f6f6f6;
}

.bg-pink {
    background-color: #CD2576;
}

.text-pink {
    color: #CD2576;
}

.text-dark {
    color: #222;
}

.text-heavy {
    font-weight: 600;
    letter-spacing: 1.5px;
}

/* ICONS */

.icon-white {
    color: #fff;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.icon-pink {
    padding: 0;
    margin: 0;
    color: #CD2576;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 3rem;
    width: 3rem;
}

/* NAV-BARS */

.main-logo {
    margin: 0;
    padding: 0;
    object-fit: contain;
    width: 150px
}

.navbar-nav .nav-link {
    margin-top: 0.5rem;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    text-align-last: right;
}

.burger-menu {
    font-size: 2rem;
}

.dropdown-menu.dropdown-menu-right.show {
    padding: 0;
    border: none;
    background-color: #f6f6f6;
    text-align-last: right;
}

.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item:focus {
    color: #582E8E;
}

.header-container {
    padding-top: 64px;
}
