.charities-title {
    font-size: 1.5rem;
}

.charities-signup-prompt {
    font-size: 1.2rem;
}

.search-row {
    padding-left: 1rem;
}

.form-control-lg-custom {
    border: 1px solid #CD2576;
    width: 100%;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.form-control-lg-custom:hover,
.form-control-lg-custom:active,
.form-control-lg-custom:focus,
.form-control-lg-custom2:hover,
.form-control-lg-custom2:active,
.form-control-lg-custom2:focus {
    border: 1px solid #CD2576!important;
    background-color: #fff;
}

.form-control-lg-custom2 {
    border: 1px solid #CD2576;
    width: 100%;
    border-radius: 0.25rem;
}

.searchbar-xs {
    background-color: #f6f6f6;
    border: 1px solid #CD2576;
}

.searchbar:hover,
.searchbar:active,
.searchbar:focus {
    background-color: #fff;
    border: 1px solid #CD2576!important;
}

.btn-pink-search {
    height: auto;
    background-color: #CD2576;
    color:#fff;
    border: 1px solid #CD2576;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    white-space: nowrap;
}

.btn-pink-search:hover,
.btn-pink-search:active,
.btn-pink-search:focus {
    box-sizing: content-box;
    background-color: #582E8E;
    border: 1px solid #fff;
    color: #fff;
    border-left: none;
}
.search-text {
    line-height: 2;
    border: 2px dotted #fff;
}

.charity-card {
    width: 290px;
    height: 290px;
    border-radius: 1.5rem;
}

.charity-card-img {
    background-color: #fff;
    object-fit: contain;
    height: 50%;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.charity-card-title {
    font-size: 1.2rem;
}

.charity-cards-row {
    margin: 0 0.25rem;
}

.charity-card-btn-box {
    position: absolute;
    bottom: 0.7rem;
    width: 100%;
}

.charity-btn {
    width: 45%;
}

@media screen and (min-width: 320px) and (max-width: 575px) {
    .charities-title {
        font-size: 1.35rem;
    }
    .charities-signup-prompt {
        font-size: 1rem;
    }
    .search-row {
        padding-left: 0;
    }
}
