.charities-title {
    font-size: 1.5rem;
}

.charities-signup-prompt {
    font-size: 1.2rem;
}

.search-control {
    border: 1px solid #CD2576;
}

.search-text {
    line-height: 2;
    border: 2px dotted #fff;
}

/* CHARITY CARDS */

.charity-card {
    width: 290px;
    height: 290px;
    border-radius: 1.5rem;
}

.charity-card-img {
    background-color: #fff;
    object-fit: contain;
    height: 50%;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.charity-card-title {
    font-size: 1.2rem;
}

.charity-cards-row {
    margin: 0 0.25rem;
}

.charity-card-btn-box {
    position: absolute;
    bottom: 0.7rem;
    width: 100%;
}

.charity-card-btn {
    width: 45%;
}

@media screen and (min-width: 320px) and (max-width: 575px) {
    .charities-title {
        font-size: 1.35rem;
    }
    .charities-signup-prompt {
        font-size: 1rem;
    }
    .search-row {
        padding-left: 0;
    }
    .char-len {
        text-align: center;
    }
    .categories-btn {
        width: 100%;
    }
}
