.checkout-title {
    font-size: 2rem;
    line-height: 2rem;
}

.checkout-sub-title {
    font-size: 1.75rem;
    line-height: 1.75rem;
}

@media screen and (min-width: 320px) and (max-width: 575px) {
    .checkout-title {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    .checkout-sub-title {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
}