<form method="GET" action="{% url 'charities' %}" class="row m-0 p-0">
    <div class="input-group flex-nowrap d-none d-sm-flex col-12 col-md-10 mx-auto">
        <input class="form-control-lg-custom"
            type="text" placeholder="Search our charities" aria-label="Search our charities">
        <div class="input-group-append d-none d-sm-flex">
            <button class="input-group-text btn btn-lg btn-pink-search" id="basic-addon2">
            <span class="icon bold"><i class="fas fa-search"></i> Search</span>
            </button>
        </div>
    </div>
    <div class="col-12 d-sm-none px-0 mx-0">
        <input class="searchbar-xs form-control-lg form-control-lg-custom2 my-2"
            type="text" name="q" placeholder="Search our charities" aria-label="Search our charities"></div>
        <button class="btn btn-lg btn-pink col-12 d-sm-none" type="submit">
            <span class="icon bold"><i class="fas fa-search"></i> Search</span>
        </button>
    </div>
</form>
