{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}



{% block content %}
    <div class="container-fluid p-0 m-0">
        <div class="hero-container row p-0 m-0">
            <img id="hero-img" class="col-12" src="../media/hero-img.jpg" center no-repeat>
            <div id="hero-text" class="col-12 col-md-12 rounded">
                <h3 class="text-heavy text-white text-pink tag-line">Spreading affordable support,<br>to your causes, your way.</h3>
                <p class="text-white">“Alone we can do so little; together we can do so much.” - Helen Keller</p>
            </div>
        </div>
    </div>
{% endblock %}