
<div class="container-fluid search-bar p-0 m-0">
    <form method="GET" action="{% url 'charities' %}" class="row py-2">
        <div class="input-group form-inline col-12 col-lg-8 mx-auto justify-content-center">
            <input id="searchbar" class="form-control-lg" type="text" name="q" placeholder="Search our charities">
            <div class="input-group-append">
                <button class="form-control btn btn-lg btn-white-search" type="submit">
                    <span class="icon">
                        <i class="fas fa-search"></i>
                    </span>
                </button>
            </div>
        </div>
    </form>
</div>