{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'charities/css/charities.css' %}">
{% endblock %}

{% block extra_title %}{charity-details}{% endblock %}

{% block content %}
    <div class="container pt-2 pt-md-5">
        <div class="row">
            <!-- charity general image / swaps to order 2nd on screens >= 992px wide -->
            <div class="col-12 col-lg-6 order-lg-2">
                <div class="row">
                    <div class="col-12">
                        <img src="{{charity.image_url}}" alt="{{ charity.image_description }}"
                            class="charity-general-img w-100">
                    </div>
                </div>
            </div>
            <!-- charity info -->
            <div class="col-12 col-lg-6 order-lg-1">
                <!-- name title & registered charity number -->
                <div class="row">
                    <div class="col-12">
                        <h1 class="bold text-pink">{{charity.charity_name}}</h1>
                        <p>Registered charity number {{charity.charity_num}}</p>
                    </div>
                </div>
                <!-- charity total lilac box -->
                <div class="row">
                    <div class="col-12 charity-total-box bg-lilac">
                        <p class="charity-total text-dark text-center extra-bold mb-0">£{{charity.total_received}}</p>
                        <p class="charities-title text-dark text-center">Money raised</p>
                    </div>
                </div>
                <!-- charity description -->
                <div class="row">
                    <div class="col-12">
                        <p class="text-dark">{{charity.description|linebreaksbr }}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- donation impact card -->
        <div class="card impact-card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4 impact-card-logo-box">
                    <img src="{% static '/media/' %}{{ charity.logo_image }}" alt="{{ charity.charity_name }} logo"
                        class="bg-white impact-card-img">
                </div>
                <div class="col-md-8">
                    <div class="card-body impact-card-right bg-pink h-100">
                        <h5 class="card-title text-white bold">Donation Impact</h5>
                        <ul>
                            <li class="text-white mb-1">{{ charity.impact1 }}<hr></li>
                            <li class="text-white mb-1">{{ charity.impact2 }}<hr></li>
                            <li class="text-white mb-1">{{ charity.impact3 }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- favourites & visit website buttons -->
        <div class="row">
            {% if request.user.is_authenticated %}
                <form action="{% url 'add_to_favs' charity.id %}" method="POST" class="col-12 col-lg-6">
                    {% csrf_token %}
                    <button type="submit" aria-label="add to favourites link for logged in users only"
                        class="btn btn-lg btn-pink w-100 my-3 shadow">+ Add to Favourties</button>
                </form>
            {% else %}
                <!-- send to log in if no user -->
                <div class="col-12 col-lg-6">
                    <a href="{% url 'account_login' %}" aria-label="link to log-in to use favourites feature"
                        class="btn btn-lg btn-pink w-100 my-3 shadow">+ Add to Favourties</a>
                </div>
            {% endif %}
            <!-- link to charity offical website -->
            <div class="col-12 col-lg-6">
                <a href="{{ charity.website_url }}" aria-label="link to charity website (opens in a new tab)"
                    class="btn btn-lg btn-pink-outline w-100 my-3 shadow" target="_blank">Visit Website</a>
            </div>
        </div>
        {% if request.user.is_authenticated %}
            {% if request.user.is_superuser %}
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <a href="{% url  'deactivate_charity' charity.id %}" aria-label="admin link to deactivate this charity"
                            class="btn btn-lg btn-danger w-100 my-3 shadow bold">Deactivate Charity</a>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}