{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'charities/css/charities.css' %}">
{% endblock %}

{% block extra_title %}Charities{% endblock %}

{% block content %}
    <div class="container bg-light-brand">
        <!-- headings -->
        <div class="row pt-5">
            <div class="col-12 col-md-10">
                <h1 class="charities-title text-pink bold">Find charities that matter to you.</h1>
                {% if request.user.is_authenticated %}
                {% else %}
                <!-- prompt user to signup/signin to use favourites feature -->
                <h3 class="text-dark charities-signup-prompt my-2">
                    <a class="a-pink" href="{% url 'account_signup' %}">Sign up</a>, or 
                    <a class="a-pink"href="{% url 'account_login' %}">Log in </a>to start bookmarking your favourites.
                </h3>
                {% endif %}
            </div>
        </div>
        <!-- searchbar -->
        {% include 'charities/includes/search-filters.html' %}
    </div>
    <div class="container">
        <!-- categories dropdown menu -->
        <div class="row bg-light-brand justify-content-between m-0 p-0">
            <button class="btn btn-lg btn-pink-outline shadow-sm order-sm-2 col-12 col-sm-6 col-lg-3 my-1" type="button" data-toggle="dropdown" aria-expanded="false">
                <span class="icon bold"><i class="fas fa-chevron-down"></i> Categories</span>
            </button>
            <div class="dropdown-menu categories-btn dropdown-menu-right bg-pink-light">
                <a href="{% url 'charities' %}" class="dropdown-item drop-item-h bg-pink-light bold">All Categories</a>
                <a href="{% url 'charities' %}?category=animals_wildlife" class="dropdown-item drop-item-h bg-pink-light bold">Animals &amp; Wildlife</a>
                <a href="{% url 'charities' %}?category=children_youth" class="dropdown-item drop-item-h bg-pink-light bold">Children &amp; Youth</a>
                <a href="{% url 'charities' %}?category=aged" class="dropdown-item drop-item-h bg-pink-light bold">Aged</a>
                <a href="{% url 'charities' %}?category=disability" class="dropdown-item drop-item-h bg-pink-light bold">Disability</a>
                <a href="{% url 'charities' %}?category=mental_health" class="dropdown-item drop-item-h bg-pink-light bold">Mental Health</a>
            </div>
            <!-- user feedback on number of charities filters -->
            <p class="char-len charities-title text-dark order-sm-1 my-1 p-0 col-12 col-sm-6 pt-2">{{ charities|length }} Charities Found</p>
        </div>
    </div>
    <div class="container">
        {% if charities|length > 0 %}
        <div class="row mb-5">
            {% for charity in charities %}
            <div class="col-12 px-xs-0 col-md-6 col-xl-4 my-4 text-center">
                <a href="{% url 'home' %}" aria-hidden="true" tabindex="-1">
                    <div class="card charity-card hover-float shadow bg-light-brand text-center mx-auto">
                        <img src="{% static '/media/' %}{{ charity.logo_image }}" alt="{{charity.charity_name}} logo"
                            class="card-img-top charity-card-img">
                        <h3 class="card-text charity-card-title text-dark bold p-2 mt-1">{{ charity.charity_name }}</h3>
                        <div class="charity-card-btn-box">
                            <button class="btn btn-lg btn-pink-outline charity-card-btn">Info</button>
                            <button class="btn btn-lg btn-pink-outline charity-card-btn">Favourite</button>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="row">
            <h4 class="col-12 text-center text-pink bold my-4">Oops! No charities matching your search found.</h4>
            <a href="{% url 'charities' %}" class="btn btn-lg btn-pink col-11 col-sm-6 col-xl-2 mb-5 mx-auto">
                <i class="fa-solid fa-chevron-left mx-1"></i><strong>Back</strong>
            </a>
        </div>
        {% endif %}
    </div>
{% endblock %}
